@media (max-width: 630px) {
    .credits thead {
        display: none;
    }

    table.credits tr {
        margin-bottom: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 4);
        border-bottom: 2px solid #ddd;
    }

    #credits-info td {
        display: block;
        text-align: right;
        font-size: 12px;
        border: none;
        border-radius: 0;
        border-bottom: 1px dotted #ccc;
    }

    .credits tbody td:last-child {
        border-bottom: 0;
    }

    .credits tbody td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}